src/main/mule/completeforeach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="550d6099-ac75-4b04-a2d9-271e3fb7cfa3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="completeforeachFlow" doc:id="c3065578-74ee-448e-84f7-a0387a4bae69" >
		<http:listener doc:name="Listener" doc:id="d37a31ba-a6ba-47f1-9a40-74f2768a13f7" config-ref="HTTP_Listener_config" path="/completeforeach"/>
		<set-variable value='#[[&#10;	{&#10;		"name" : "sravani",&#10;		"id" : 1&#10;	},&#10;	{&#10;		"name" : "krithvik",&#10;		"id" : 2&#10;	}&#10;]]' doc:name="details" doc:id="abfc4487-1bcb-4297-87df-ef053c883d7f" variableName="details"/>
		<set-variable value="#[[]]" doc:name="successRecordValues" doc:id="030d1a8e-f9dd-4d7b-877d-b64d9a9fbe9b" variableName="successRecordValues"/>
		<set-variable value="#[[]]" doc:name="failures" doc:id="4ae66b33-f6b1-48ff-8ced-134baab9b3ab" variableName="failures"/>
		<foreach doc:name="For Each" doc:id="d8bede86-63e8-4c72-a921-75f401f3c8b5" collection="#[vars.details.id]">
			<try doc:name="Try" doc:id="cea75ab5-c0a9-428b-bd3e-b5d6af54699e" >
				<set-payload value="#[payload *10]" doc:name="Set Payload" doc:id="90281ab9-fee3-46b1-a5be-fd600dfe1085" />
				<set-variable value="#[output application/json --- vars.successRecordValues + payload]" doc:name="successRecordValues" doc:id="0765c32e-efb4-4f54-b2b3-132d30276ef9" variableName="successRecordValues"/>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="82563281-ece0-4329-83d8-7548bda06d7a" >
						<logger level="INFO" doc:name="Logger" doc:id="8a8fccfb-0449-421a-b249-9a82c86eeb5f" message="error occured please continue"/>
						<set-variable value="#[output application/json --- vars.failures + payload]" doc:name="failures" doc:id="bc621d84-73b0-4c7c-b0d9-74b2b13cf3ac" variableName="failures"/>
					</on-error-continue>
				</error-handler>
			</try>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="7501bfd1-c2ed-490d-a63d-384d84a13289" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	actualpayload : payload,
	SuccessModifiedRecords : vars.successRecordValues,
	failurerecords : vars.failures
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
